# --- FastAPI + Server ---
fastapi
uvicorn
pydantic
python-multipart

# --- Data Processing (Telemetry, CSV, math) ---
pandas
numpy

# --- Databases ---
SQLAlchemy
pymongo
motor

# Machine learning or optimization
scikit-learn
scipy


# --- WebSockets (for real-time telemetry) ---
websockets
starlette